<%@ Master Language="C#" AutoEventWireup="true" CodeFile="DefaultMaster.master.cs" Inherits="Master" %>
<%@ Register Src="UserControls/ControlPanelMenue.ascx" TagName="ControlPanelMenue"
    TagPrefix="uc1" %>
<%@ Register TagName="topnav" TagPrefix="tNav" Src="~/BackEnd/UserControls/topnav.ascx" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Language" content="ar-eg">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1256">
    <meta name="Keywords" content="الهيئة العامة للخدمات البطرية, بيطرية,الهيئة">
    <meta name="Description" content="لوحة التحكم الأساسية لموقع الهيئة العامة للخدمات البطرية">
    <title>لوحة التحكم الأساسية لموقع الهيئة العامة للخدمات البطرية</title>
    <link href="../CSS_JAVA/main.css" rel="stylesheet" type="text/css" />
    
    
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div style="text-align: center">
                <table cellpadding="0" cellspacing="0" class="container_table bckgreen top20">
                    <tr>
                        <td class="corners lt">
                            <img src="../Images/lt_top_crnr.gif" /></td>
                        <td class="mdlcell" height="21">
                        </td>
                        <td class="corners rt">
                            <img src="../Images/rt_top_crnr.gif" /></td>
                    </tr>
                    <tr>
                        <td class="corners">
                        </td>
                        <td>
                            <div class="cntr">
                                <table cellpadding="0" cellspacing="0" style="width: 100%">
                                    <tr>
                                        <td class="lt">
                                            <img src="../Images/logo.gif" /></td>
                                        <td class="white mdl">
                                        </td>
                                        <td class="rt">
                                            <img src="../Images/logo_ICARDA.jpg" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td class="corners">
                        </td>
                    </tr>
                    <tr>
                        <td class="corners navigation">
                        </td>
                        <td class="center navigation white btm">
                            <asp:ContentPlaceHolder ID="TopNav" runat="server">
                                <tNav:topnav ID="topnav1" runat="server" PnlShow="home" />
                            </asp:ContentPlaceHolder>
                        </td>
                        <td class="corners navigation">
                        </td>
                    </tr>
                    <tr class="bckwhite">
                        <td class="border_bck_lt lt bck_bodytop">
                            <img src="../Images/body_top_lt.gif" /></td>
                        <td class="content bck_bodytop">
                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                            </asp:ContentPlaceHolder>
                        </td>
                        <td class="border_bck_rt rt bck_bodytop">
                            <img src="../Images/body_top_rt.gif" /></td>
                    </tr>
                    <tr>
                        <td class="corners lt btm">
                            <img src="../Images/lt_btm_crnr.gif" /></td>
                        <td>
                        </td>
                        <td class="corners rt btm">
                            <img src="../Images/rt_btm_crnr.gif" /></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
</html>
